<h1>Hello!</h1>

{{#each places}}
<p>{{category}}</p>
<p>{{name}}</p>
<img src="{{image}}" alt="{{name}}">
<p>{{description}}</p>
{{#each comments}}
<p>{{this.text}}</p>
<p>{{this.rating}}</p>
{{/each}}
{{/each}}

